<div class="footer">
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<small>
					<%= link_to "Just Dance", "https://soundcloud.com/skeetco"%>
				</small>
			</div>
		</div>
	</div>
</div>
